<div class="add_car_component_div">
    <form action="add-car">
        <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="input" placeholder="{{'car.carname' | translate}}">
        <input type="number" [(ngModel)]="year" [ngModelOptions]="{standalone: true}" class="input" placeholder="{{'car.yearofconstruction' | translate}}">
        <input type="number" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" class="input" placeholder="{{'car.price' | translate}}">
        <select [(ngModel)]="value" [ngModelOptions]="{standalone: true}" class="input select-color">
            <option value="1">red</option>
            <option value="2">yellow</option>
            <option value="3">green</option>
        </select>
        <input (click)="add()" type="submit" class="input" value="{{'car.add' | translate }}">
    </form>
</div>