.checkbox {
  &::after &::before {
    box-sizing: border-box;
  }
  input[type="checkbox"] {
    appearance: none;
    border: 1px solid #ffca05;
    width: 21px;
    height: 21px;
    cursor: pointer;
    outline: 0;
    vertical-align: middle;
    position: relative;
    transition: background 0.5s, border-color 0.5s, box-shadow 0.5s;

    &::after {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
    }

    &:checked {
      background-color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 1px #0000000a;
    }
    &::after {
      opacity: 0;
    }

    &:checked {
      &::after {
        opacity: 1;
      }
    }
    & + label {
      font-size: inherit;
      cursor: pointer;
      margin: 0 1rem;
      vertical-align: middle;
      color: inherit;
    }
  }
  input[type="checkbox"] {
    border-radius: 2px;

    &::after {
      width: 5px;
      height: 9px;
      border: 2px solid #111;
      left: 7px;
      top: 4px;
      border-top: 0;
      border-left: 0;
      transform: rotate(43deg);
    }
  }
}
