dp-date-picker {
  width: 100% !important;
}
.dp-time-select-controls {
  direction: ltr;
}
dp-date-picker .dp-picker-input {
  width: 100% !important;
  min-height: 4.7rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.1rem solid @alto;
  border-radius: 0.5rem;
  color: @boulder;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: @white;
  resize: none;
  .placeholder-color(@alto);
  .transition(0.3s);

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    border-color: @default-color;
    outline: 0;
  }

  &:disabled {
    background-color: @gallery;
  }

  &.small {
    padding: 0.5rem;
    min-height: 3.7rem;
  }

  select& {
    cursor: pointer;

    &[multiple] {
      .scrollbar();
    }

    &:not([multiple]) {
      background-image: url("../../statics/images/chevron-arrow-down.svg");
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 4.5rem;
    }

    &::-ms-expand {
      display: none;
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 @boulder;
      transition: none;
    }
  }

  textarea& {
    display: block;
  }

  [type="color"] & {
    padding: 2px;
  }
}
