// main: ../../styles.less

header {
  position: relative;
  // z-index: 1;
  .row {
    background-color: @white;

    & > .col, & > [class*="col-"] {
      line-height: 6rem;
      max-height: 6rem;
    }
  }

  .sidebar-toggle {
    font-size: 2.6rem;
    color: @default-color;
    cursor: pointer;
  }
}
