// main: ../../styles.less

tag-input,
select-input {
  width: 100%;
  display: block;
  position: relative;
  border: 0.1rem solid @alto;
  border-radius: 0.5rem;
  color: @boulder;
  padding: 0.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: @white;
  text-align: left;
  cursor: text;
  .transition(0.3s);

  &.input-focused,
  &.inputref-focused,
  &:hover {
    border-color: @default-color;
  }

  &.is-empty,
  &.input-focused,
  &.inputref-focused {
    input.input-field {
      width: auto;
    }
  }

  &.input-disabled {
    border-color: @color-disable;

    input.input-field {
      //display: none;
    }
  }

  .input-field {
    display: inline-block;
    width: 0.2rem;
    border: 0;
    padding: 0.6rem;
    background-color: @white;

    &:focus,
    &:hover {
      border-color: @default-color;
      outline: 0;
    }
  }

  input-item {
    display: inline-block;
    background: @gallery;
    padding: 0.4rem;
    margin: 0.2rem;
    border-radius: 0.5rem;

    .input-item-remove {
      cursor: pointer;
      display: inline-block;
      padding: 0 0.3rem;
    }
  }
}

select-input-header {
  position: relative;
  display: block;
  .pupop-content {
    width: auto;
    min-width: 25rem;
    max-height: 20rem;
    position: absolute;
    right: 0;
    left: auto;
    top: 100%;
    z-index: 100;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 4px 8px -2px rgb(9, 30, 66, 0.025),
      0 0 1px rgb(9, 30, 66, 0.031);
  }
  .check-list-select-field {
    box-sizing: border-box;
    position: relative;
    padding: 5px 10px 9px;
    overflow: hidden;
    .icon-default {
      position: absolute;
      top: 11px;
      left: auto;
      right: 15px;
      z-index: 2;
    }
    .input-field {
      box-sizing: border-box;
      -moz-border-radius: 3px 3px 3px 3px;
      border-radius: 3px 3px 3px 3px;
      position: relative;
      z-index: 1;
      width: 100%;
      min-height: 28px;
      height: 0;
      border: 1px solid #c1c7d0;
      padding: 0 24px 0 6px;
      margin: 0;
      outline: none;
    }
  }
  .select-list {
    .check-list-group-actions {
      padding: 5px 10px;
      .clear-all {
        font-size: 1rem;
      }
      .clear-all:hover {
        color: rgb(8, 79, 138);
      }
    }
    .input-field {
      box-sizing: border-box;
      -moz-border-radius: 3px 3px 3px 3px;
      border-radius: 3px 3px 3px 3px;
      position: relative;
      z-index: 1;
      width: 100%;
      min-height: 28px;
      height: 0;
      border: 1px solid #c1c7d0;
      padding: 0 24px 0 6px;
      -webkit-box-shadow: #bbb 0 7px 2px -7px inset;
      -moz-box-shadow: #bbb 0 7px 2px -7px inset;
      box-shadow: #bbb 0 7px 2px -7px inset;
      margin: 0;
      font-size: 14px;
      font-family: inherit;
    }
    .icon-default {
      position: absolute;
      top: 11px;
      left: 15px;
      z-index: 2;
    }
    width: 25rem;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    left: auto;
    top: 100%;
    z-index: 10;
    //margin-top: 1rem;
    // margin-top: 2px;
    background-color: @white;
    list-style: none;
    padding: 4px;
    box-shadow: 0 4px 8px -2px rgb(9, 30, 66, 0.025),
      0 0 1px rgb(9, 30, 66, 0.031);
    .scrollbar();
    .select-option {
      .item-label {
        clear: none;
        color: inherit;
        display: block;
        left: 0;
        line-height: 1.4;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: static;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: auto;
        cursor: pointer;
        input[type="checkbox"] {
          position: absolute;
          left: 5px;
        }
        label {
          box-sizing: border-box;
          margin-top: -1px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          cursor: pointer;
          padding: 2px;
        }
      }
      padding: 1.2rem;
      z-index: 100;
      cursor: pointer;
      transition: border 0.2s ease-in;
      width: 25rem;
      &.selected {
        background-color: @gallery;
      }

      &:hover,
      &.item-navigator {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
      }
    }
  }
}
select-input {
  .select-list {
    width: 100%;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    //margin-top: 1rem;
    margin-top: 2px;
    background-color: @white;
    border: 0.1rem solid @alto;
    border-radius: 0.5rem;
    list-style: none;
    padding: 0;
    .scrollbar();

    .select-option {
      padding: 1.2rem;
      z-index: 100;
      cursor: pointer;
      .transition(0.3s);

      &.selected {
        background-color: @gallery;
        display: none;
      }

      &:hover,
      &.item-navigator {
        background-color: @alto;
      }
    }
  }
}
