// li.jstree-open > a .jstree-icon {
//   background: url("../../statics/images/chevron-arrow-down.svg") 0px 0px
//     no-repeat !important;
// }
// li.jstree-closed > a .jstree-icon {
//   background: url("../../statics/images/chevron-arrow-down.svg") 0px 0px
//     no-repeat !important;
// }
// li.jstree-leaf > a .jstree-icon {
//   display: none;
// }

// /* replace checkbox icons */
// li.jstree-unchecked > a .jstree-checkbox,
// li.jstree-undetermined > a .jstree-checkbox {
//   background: url("../../statics/images/chevron-arrow-down.svg") 0px 0px
//     no-repeat !important;
//   width: 32px;
//   height: 29px;
//   padding-top: 5px;
// }
// li.jstree-checked > a .jstree-checkbox {
//   background: url("../../statics/images/chevron-arrow-down.svg") 0px 0px
//     no-repeat !important;
//   width: 32px;
//   height: 29px;
//   padding-top: 5px;
// }
