.notification {
  position: relative;
  cursor: pointer;

  &-arrow {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid @default-color;
    top: 3rem;
    left: 11px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    .transition(0.2s);

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid @white;
      top: 3px;
      right: -10px;
      position: absolute;
    }
  }

  &-count {
    position: absolute;
    width: 20px;
    text-align: center;
    height: 20px;
    background-color: crimson;
    font-size: 12px;
    line-height: 21px;
    color: #fff;
    border-radius: 50%;
    top: 0;
    left: 25px;
  }

  &-container {
    width: 300px;
    max-height: 400px;
    display: block;
    position: absolute;
    left: 0;
    margin-top: -1px;
    margin-bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    padding: 0;
    background-color: @white;
    border-radius: 0.5rem;
    border: 2px solid @default-color;
    .transition(0.2s);

    &-list {
      max-height: 320px;
      //height: 320px;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      .scrollbar();
    }

    &-setting {
      background-color: @white;
      border-radius: 0 0 2px 2px;
      text-align: center;
      opacity: 0.3;
      .transition(0.2s);

      &:hover {
        opacity: 1;
      }
    }
  }

  .border-top {
    border-top: 1px solid #ccc;
  }

  .border-left {
    border-left: 1px solid #ccc;
  }

  .mar-0 {
    margin: 3px;
  }

  &:focus {
    outline: 0;
    pointer-events: none;
  }

  &:focus &-container, &:focus &-arrow {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .info {
    background: #f1fcff !important;
    border: 1px solid #dde5ff;
    border-radius: 0.4rem;
  }

  .warn {
    background: #fffae7 !important;
    border: 1px solid #e8e8ca;
    border-radius: 0.4rem;
  }

  .error {
    background: #fff6f5 !important;
    border: 1px solid #ffc6d1;
    border-radius: 0.4rem;
  }

  .configure {
    z-index: 2;
    position: absolute;
    top: 29.7rem;
    text-align: center;
    width: 296px;
    background-color: red;
    margin: 0px 2px;
    box-sizing: border-box;
    display: block;
    border-radius: 0 0 3px 3px;
    right: 33rem;
    opacity: 1;
    .transition(0.2s);
  }
}
.formula-btn{
  padding: 1.3rem !important;
  min-height: unset !important;
  border-radius: 2rem !important;
}

.counter {
  position: absolute;
  top: 12.4rem;
  right: 3rem;
  color: @default-color;
  font-size: 1.2rem;
}
