<header class="container-fluid p-0">
  <nav class="row no-gutters">
    <div class="col-auto">
      <a class="nav-brand" href="/">
        <img src="{{ #conf }}header.brand_logo{{ /conf }}" alt="brand-logo">
      </a>
    </div>
    {{ #user.is_admin }}
    {{ #navbar }}
    <div class="col-md-auto d-none d-md-block">
      <a class="nav-link" href="{{ url }}" target="{{ target }}" title="{{ title }}">
        <span class="icon {{ icon }}"></span>
      </a>
    </div>
    {{ /navbar }}
    {{ /user.is_admin }}
    <div class="col">
      <div class="nav-rest"></div>
    </div>
    <div class="col-auto dropdown" tabindex="0">
      <div class="dropdown-label">{{ currentUser }}</div>
      <ul class="dropdown-list">
        <li>
          <a href="{{ #conf }}header.profile_url{{ /conf }}">{{ #i18n }}user.profile{{ /i18n }}</a>
        </li>
        <li>
          <span logout>{{ #i18n }}user.logout{{ /i18n }}</span>
        </li>
      </ul>
    </div>
    <!-- <div class="col-md-1 d-none d-md-block">
      <div class="nav-rest m-0"></div>
    </div> -->
    <div class="col-md-auto d-none d-md-block">
      <div class="nav-vendor">
        <object type="image/svg+xml" data="{{ #conf }}header.vendor_logo{{ /conf }}"></object>
        <!-- <img src="{{ #conf }}header.vendor_logo{{ /conf }}" alt="vendor-logo"> -->
      </div>
    </div>
  </nav>
</header>
