<aside id="toolbar">

  <div class="tab-bar">
    <div class="tab" tab="layers">{{ #i18n }}toolbar.layers{{ /i18n }}</div>
    <div class="tab" tab="search">{{ #i18n }}search{{ /i18n }}</div>
    {{ #allowReports }}
    <div class="tab" tab="report">{{ #i18n }}toolbar.reports{{ /i18n }}</div>
    {{ /allowReports }}
  </div>

  <!-- Reports -->
  {{ #allowReports }}
  <section tab="report" class="py-4">
    <div class="layers">
      {{ #reports }}
      <a href="{{ url }}" download="{{ file_name }}"
        class="layer indent-1 hover" {{ #report_filter }}report-filter="{{ . }}"{{ /report_filter }}>
        <span class="icon iln-cloud-download"></span>
        <span class="label">{{ label }}</span>
      </a>
      {{ /reports }}
    </div>
    {{ /allowReports }}
  </section>

  <!-- Search -->
  <section tab="search" class="px-4 py-4">
    <div class="row flex-column">
      <div class="col-auto pb-4 search-box">
        <select id="name-search"></select>
      </div>
      <!-- <div class="col-auto pb-4 search-box">
        <select id="address-search"></select>
      </div> -->
    </div>
  </section>

  <section tab="layers" class="py-4" style="flex: 0 0 auto;">
    <!-- Layers -->
  </section>

  <section tab="layers" class="px-4" style="margin-top: 2px;">
    <fieldset>
      <legend>{{ #i18n }}toolbar.choose-filters{{ /i18n }}</legend>
      <select id="choose-filters"></select>
    </fieldset>
    <div class="row flex-column" filters>
      <!-- Filters -->
    </div>
  </section>

  <!-- Information Segment -->
  <div id="information" class="collapse">
    <div class="tab-bar">
      <div class="tab">
        <span class="title"></span>
        <span class="icon iln-focus"></span>
      </div>
    </div>
    <section></section>
  </div>

</aside>

<span class="handle">
  <img src="{{ public_path }}images/double-arrow.svg">
</span>
