<div class="c-pie-container">
  <!-- <div #chart class="chart-pie-container"></div> -->
  <div class="text" title="{{ 'request.open-request' | translate }}">
    {{ data }}
  </div>
  <button
    [routerLink]="url"
    [queryParams]="params"
    class="btn btn-primary w-100"
    [ngStyle]="{
      'font-size':
        (titleButton.length > 23 && numberOfCards > 6)
        ? '9px'
        : '12px'
    }"
    title="{{ titleButton }}"
  >
    {{ titleButton | translate }}
  </button>
</div>
