<div class="car_component_div">
    <h1 style="margin-top: 4rem;">{{"car.add_car" | translate}}</h1>
    <br>
    <add-car [parentData]="myidnumber_edit"></add-car>
    <br>
    <car-table (carid)="setCarId($event)"></car-table>
    <br>
</div>