<div class="icon-bell-o col-md-auto notification" tabindex="-1">
  <div [hidden]="!notifications.length" class="notification-count">{{notifications.length}}</div>
  <div class="notification-arrow"></div>
  <div class="notification-container">
    <div class="notification-container-list">
      <div [hidden]="notifications.length" class="row mar-0">
        <span class="text-center col-md-12">{{ "notification.empty" | translate }}</span>
      </div>
      <div *ngFor="let notification of notifications"
           [ngClass]="{'warn': notification.type == 'warning','info': notification.type == 'info','error':notification.type == 'danger'}"
           class="row mar-0">
        <a (click)="readNotification(notification.link,notification.id)">
          <div class="col-md-auto notification-item" id="{{notification.id}}">
            {{ notification.section }}
          </div>
        </a>
      </div>
    </div>
    <div class="row mar-0 border-top">
      <div [ngClass]="{'col-md-6': notifications.length < 2,'col-md-4': notifications.length > 1}" class="border-left"
           title="{{ 'notification.setting.title' | translate }}">
        <a [routerLink]="['/notification/settings']">
          <div class="notification-container-setting icon-settings"></div>
        </a>
      </div>
      <div [ngClass]="{'col-md-6': notifications.length < 2,'col-md-4 border-left': notifications.length > 1}"
           title="{{ 'notification.refresh' | translate }}">
        <div (click)="getNotificationsByClick()" class="notification-container-setting icon-refresh"></div>
      </div>
      <div [hidden]="notifications.length < 2" class="col-md-4" title="{{ 'notification.read_all' | translate }}">
        <div (click)="markAllAsRead()" [hidden]="notifications.length < 2"
             class="notification-container-setting icon-eye"></div>
      </div>
    </div>
  </div>
</div>
