<div class="add-car-div">

    <div #myview class="dialog">
        <br>
        <p class="p_dialog">{{"car.carname" | translate}} : {{NAME}}</p><br>
        <p class="p_dialog">{{"car.price" | translate}} : {{PRICE | number}}</p><br>
        <p class="p_dialog">{{"car.yearofconstruction" | translate}} : {{YEAR}} </p><br>
        <div [ngSwitch]="COLOR">
            <p class="p_dialog" *ngSwitchCase="1">{{"car.color" | translate}} :red</p>
            <p class="p_dialog" *ngSwitchCase="2">{{"car.color" | translate}} :yellow</p>
            <p class="p_dialog" *ngSwitchCase="3">{{"car.color" | translate}} :green</p>
        </div>
        <br>
        <p class="p_dialog">{{"car.allprice" | translate}} : {{((PRICE/100)*9)+PRICE | number}}</p><br>
        <button (click)="CloseModal()" class="Close_btn">Close</button>
    </div>

    <table class="products-table">
        <thead>
            <tr>
                <td class="text-center">{{"car.Row" | translate}}</td>
                <td class="text-center">{{"car.carname" | translate}}</td>
                <td class="text-center">{{"car.yearofconstruction" | translate}}</td>
                <td class="text-center">{{"car.price" | translate}}</td>
                <td class="text-center">{{"car.color" | translate}}</td>
                <td class="text-center">{{"car.VAT" | translate}}</td>
                <td class="text-center">{{"car.allprice" | translate}}</td>
                <td class="text-center">{{"car.processes" | translate}}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cars">
                <td class="text-center">{{item.id}}</td>
                <td class="text-center">{{item.name}}</td>
                <td class="text-center">{{item.year}}</td>
                <td class="text-center">{{item.price | number}}</td>
                <td class="text-center" [ngSwitch]="item.color">
                    <p class="red" *ngSwitchCase="1">red</p>
                    <p class="yellow" *ngSwitchCase="2">yellow</p>
                    <p class="green" *ngSwitchCase="3">green</p>
                </td>
                <td class="text-center">{{(item.price/100)*9 | number}}</td>
                <td class="text-center">{{((item.price/100)*9)+item.price | number}}</td>
                <td class="text-center">
                    <button class="btn_change cursor-p" (click)="view_item(item.id)">{{"car.view" | translate}}</button>
                    <button class="btn_change cursor-p" (click)="delete_item(item.id)">{{"car.delete" | translate}}</button>
                    <button class="btn_change cursor-p" (click)="edit_item(item.id)">{{"car.edit" | translate}}</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>