<div *ngIf="!showVerifyForm" class="mx-auto my-auto col-12 col-md-10">
  <div class="auth-card">
    <div class="position-relative image-side">
      <!-- Switch Language -->
      <div class="switch-language-toggle">
        <input
          (change)="toggleLanguage($event)"
          [checked]="checked"
          class="s.l.t"
          id="s.l.t"
          type="checkbox"
        />
        <label class="toggle" for="s.l.t">
          <span class="toggle-handler"></span>
        </label>
      </div>
    </div>
    <div class="form-side">
      <div class="title row justify-content-center" style="padding-top: 1rem">
        <a href="http://MTN">
          <img
            src="{{
              translate.currentLang == 'en'
                ? '/statics/images/EN-IRANCELL-logo.jpg'
                : '/statics/images/Irancell new logo - 2017.jpg'
            }}"
            style="width: 100px; border-radius: 0.8rem"
          />
        </a>
      </div>
      <h3 class="text-center">
        {{ "auth.title" | translate }}
      </h3>
      <form (ngSubmit)="submit(form.value)" [formGroup]="form" novalidate>
        <div
          *ngIf="
            form.controls['username'].hasError('required') &&
            form.controls['username'].touched
          "
          class="auth-feedback"
          title="{{ 'forms.feedback.required' | translate }}"
        ></div>
        <div class="form-group">
          <div class="input-group auth-control">
            <div class="input-group-addon input-group-btn">
              <img
                src="/statics/images/login/username.svg"
                width="20"
                height="20"
                alt="username"
              />
              <div class="input-group-border"></div>
            </div>
            <input
              [formControl]="form.controls['username']"
              class="form-control input-group-control"
              id="login-username"
              name="login-email"
              placeholder="{{ 'auth.username' | translate }}"
              type="text"
            />
          </div>
        </div>
        <div class="form-group text-center">
          <img
            [src]="imageSrc"
            width="220"
            class="captcha"
            alt="captcha result"
          />
          <span (click)="generateCaptcha()">
            <img
              src="/statics/images/login/reload.svg"
              style="color: #202020bd; font-size: 2rem"
              class="captcha-refresh cursor-pointer"
              width="25"
              alt="refresh"
            />
          </span>
        </div>
        <div
          *ngIf="
            form.controls['captcha_challenge'].hasError('required') &&
            form.controls['captcha_challenge'].touched
          "
          class="auth-feedback"
          title="{{ 'forms.feedback.required' | translate }}. {{
            'forms.feedback.wrong-captcha' | translate
          }}"
        ></div>
        <div class="form-group">
          <input
            [(ngModel)]="captchaResult"
            [formControl]="form.controls['captcha_challenge']"
            class="form-control auth-control"
            id="login-captcha"
            name="login-captcha"
            placeholder="{{ 'auth.captcha' | translate }}"
            type="text"
            autocomplete="off"
          />
        </div>
        <div class="row" style="padding-top: 3rem">
          <div class="col-lg-12">
            <button
              [disabled]="!form.valid"
              class="btn btn-primary btn-large btn-radius w-100"
              type="submit"
            >
              {{ "auth.reset-pass" | translate }}
            </button>
          </div>
          <div
            class="col-lg-12 mt cursor-pointer text-center link"
            (click)="query.backToPage()"
          >
            {{ "auth.back-to-login" | translate }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-verify-password *ngIf="showVerifyForm"> </app-verify-password>
