@font-face {
  font-family: "MTNIrancell-Bold";
  src: url("./fonts/MTNIrancell-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "MTNIrancell-Regular";
  src: url("./fonts/MTNIrancell-Regular.ttf") format("truetype");
}
.table {
  font-size: smaller;
  font-family: "MTNIrancell-Regular";
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  outline: none;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
.table-sm {
  width: 80%;
  font-size: 1.1rem;
}
.table .great {
  width: 100%;
}
.table thead {
  border-top: 1px solid #d8d8d8;
  background-color: #f0f0f0;
  color: #000000;
}
.table tr {
  font-weight: 100;
  color: #000000;
}
.table tr:last-child {
  border-bottom: 1px solid #d8d8d8;
}
.table tr:nth-child(even) {
  background-color: #f0f0f0;
}
.table th {
  font-weight: bold;
}
.table td,
.table th {
  padding: 1.5rem 0.8rem;
  white-space: nowrap;
}
.table td.wrap,
.table th.wrap {
  white-space: pre-wrap;
}
.table td.limit,
.table th.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.table.hover tr:hover {
  background-color: #d8d8d8;
}
.table.select tr {
  cursor: pointer;
}
.table .list-icon {
  max-width: 3rem;
  max-height: 2.2rem;
  margin: auto;
}
