<div class="wall animated fadeIn">
  <div class="title">{{ 'auth.register' | translate }}</div>
  <form (ngSubmit)="submit(form)" [formGroup]="form" novalidate>

    <div [ngClass]="{'has-error':form.controls['fullname'].invalid && formSubmitted}" class="form-group">
      <label class="form-label" for="register-fullname">{{ 'auth.fullname' | translate }}:</label>
      <input class="form-control" formControlName="fullname" id="register-fullname" name="register-password" placeholder
             type="text">
      <div *ngIf="form.controls['fullname'].hasError('required') && formSubmitted"
           class="feedback">{{ 'forms.feedback.required' | translate }}</div>
    </div>

    <div [ngClass]="{'has-error':!form.controls['cellphone'].valid && formSubmitted}" class="form-group">
      <label class="form-label" for="register-contact-info">{{ 'auth.mobile' | translate }}:</label>
      <input class="form-control" formControlName="cellphone" id="register-contact-info" name="register-contact-info"
             placeholder
             type="tel" value="09">
      <div *ngIf="form.controls['cellphone'].hasError('required') && formSubmitted"
           class="feedback">{{ 'forms.feedback.required' | translate }}</div>
      <div *ngIf="form.controls['cellphone'].hasError('pattern') && formSubmitted"
           class="feedback">{{ 'forms.feedback.pattern' | translate }}</div>
    </div>

    <div [ngClass]="{'has-error':!form.controls['password'].valid && formSubmitted}" class="form-group">
      <label class="form-label" for="register-password">{{ 'auth.password' | translate }}:</label>
      <div class="input-group">
        <input [type]="passInputType" class="form-control" formControlName="password" id="register-password"
               name="register-password" placeholder>
        <div [ngSwitch]="passInputType" class="input-group-addon">
          <div (click)="togglePasswordVisibility()" *ngSwitchCase="'password'" class="icon icon-eye"
               title="{{ 'auth.show-pass' | translate }}"></div>
          <div (click)="togglePasswordVisibility()" *ngSwitchCase="'text'" class="icon icon-eye-slash"
               title="{{ 'auth.hide-pass' | translate }}"></div>
        </div>
      </div>
      <div *ngIf="form.controls['password'].hasError('required') && formSubmitted"
           class="feedback">{{ 'forms.feedback.required' | translate }}</div>
      <div *ngIf="form.controls['password'].hasError('minlength') && formSubmitted"
           class="feedback">{{ 'forms.feedback.least' | translate:{least: 6} }}</div>
      <div *ngIf="form.controls['password'].hasError('maxlength') && formSubmitted"
           class="feedback">{{ 'forms.feedback.max' | translate:{max: 12} }}</div>
    </div>

    <!-- <div class="form-group" [ngClass]="{'has-error':!form.controls['confirm_password'].valid && formSubmitted}">
      <label class="form-label" for="register-confirm-password">{{ 'auth.confirm-pass' | translate }}:</label>
      <input id="register-confirm-password" class="form-control" name="register-confirm-password" [type]="passInputType" formControlName="confirm_password" placeholder>
      <div class="feedback" *ngIf="form.controls['confirm_password'].hasError('notmatch') && formSubmitted">{{ 'forms.feedback.notmatch' | translate }}</div>
    </div> -->

    <div class="row">
      <div class="col-lg-6">
        <button [disabled]="form.invalid && formSubmitted" class="btn btn-success w-100 h-100"
                type="submit">{{ 'forms.submit' | translate }}</button>
      </div>
      <div class="col-lg-6">
        <button class="btn btn-primary w-100 h-100" routerLink="/auth">{{ 'auth.login' | translate }}</button>
      </div>
      <div class="col-lg-12 pt">
        <button class="btn btn-default w-100"
                routerLink="/auth/password/forget">{{ 'auth.forget-pass' | translate }}</button>
      </div>
    </div>

  </form>
</div>
