@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?7p4sw7');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?7p4sw7#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?7p4sw7') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?7p4sw7') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?7p4sw7#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-double-left {
  &:before {
    content: @icon-double-left; 
  }
}
.icon-double-right {
  &:before {
    content: @icon-double-right; 
  }
}
.icon-file-pdf {
  &:before {
    content: @icon-file-pdf; 
  }
}
.icon-ticket-alt {
  &:before {
    content: @icon-ticket-alt; 
  }
}
.icon-check-double {
  &:before {
    content: @icon-check-double; 
  }
}
.icon-file-csv {
  &:before {
    content: @icon-file-csv; 
  }
}
.icon-remove {
  &:before {
    content: @icon-remove; 
  }
}
.icon-requests {
  &:before {
    content: @icon-requests; 
  }
}
.icon-flash {
  &:before {
    content: @icon-flash; 
  }
}
.icon-dashboard {
  &:before {
    content: @icon-dashboard; 
  }
}
.icon-chevron-thin-up {
  &:before {
    content: @icon-chevron-thin-up; 
  }
}
.icon-stats {
  &:before {
    content: @icon-stats; 
  }
}
.icon-user {
  &:before {
    content: @icon-user; 
  }
}
.icon-user-tie {
  &:before {
    content: @icon-user-tie; 
  }
}
.icon-stats-dots {
  &:before {
    content: @icon-stats-dots; 
  }
}
.icon-stats-bars1 {
  &:before {
    content: @icon-stats-bars1; 
  }
}
.icon-accessibility {
  &:before {
    content: @icon-accessibility; 
  }
}
.icon-tree {
  &:before {
    content: @icon-tree; 
  }
}
.icon-warning1 {
  &:before {
    content: @icon-warning1; 
  }
}
.icon-info {
  &:before {
    content: @icon-info; 
  }
}
.icon-check-c {
  &:before {
    content: @icon-check-c; 
  }
}
.icon-uncheck-c {
  &:before {
    content: @icon-uncheck-c; 
  }
}
.icon-radio-checked2 {
  &:before {
    content: @icon-radio-checked2; 
  }
}
.icon-radio-unchecked {
  &:before {
    content: @icon-radio-unchecked; 
  }
}
.icon-phone {
  &:before {
    content: @icon-phone; 
  }
}
.icon-search {
  &:before {
    content: @icon-search; 
  }
}
.icon-zoom-in {
  &:before {
    content: @icon-zoom-in; 
  }
}
.icon-zoom-out {
  &:before {
    content: @icon-zoom-out; 
  }
}
.icon-key {
  &:before {
    content: @icon-key; 
  }
}
.icon-wrench {
  &:before {
    content: @icon-wrench; 
  }
}
.icon-file-excel {
  &:before {
    content: @icon-file-excel; 
  }
}
.icon-warning {
  &:before {
    content: @icon-warning; 
  }
}
.icon-plus {
  &:before {
    content: @icon-plus; 
  }
}
.icon-minus {
  &:before {
    content: @icon-minus; 
  }
}
.icon-cancel-circle {
  &:before {
    content: @icon-cancel-circle; 
  }
}
.icon-blocked {
  &:before {
    content: @icon-blocked; 
  }
}
.icon-cross {
  &:before {
    content: @icon-cross; 
  }
}
.icon-checkmark {
  &:before {
    content: @icon-checkmark; 
  }
}
.icon-play2 {
  &:before {
    content: @icon-play2; 
  }
}
.icon-pause {
  &:before {
    content: @icon-pause; 
  }
}
.icon-stop {
  &:before {
    content: @icon-stop; 
  }
}
.icon-play3 {
  &:before {
    content: @icon-play3; 
  }
}
.icon-pause2 {
  &:before {
    content: @icon-pause2; 
  }
}
.icon-stop2 {
  &:before {
    content: @icon-stop2; 
  }
}
.icon-spinner11 {
  &:before {
    content: @icon-spinner11; 
  }
}
.icon-stats-bars {
  &:before {
    content: @icon-stats-bars; 
  }
}
.icon-menu {
  &:before {
    content: @icon-menu; 
  }
}
.icon-paragraph-justify {
  &:before {
    content: @icon-paragraph-justify; 
  }
}
.icon-box-add {
  &:before {
    content: @icon-box-add; 
  }
}
.icon-terminal {
  &:before {
    content: @icon-terminal; 
  }
}
.icon-spinner {
  &:before {
    content: @icon-spinner; 
  }
}
.icon-cog {
  &:before {
    content: @icon-cog; 
  }
}
.icon-cogs {
  &:before {
    content: @icon-cogs; 
  }
}
.icon-location {
  &:before {
    content: @icon-location; 
  }
}
.icon-file-text2 {
  &:before {
    content: @icon-file-text2; 
  }
}
.icon-paste {
  &:before {
    content: @icon-paste; 
  }
}
.icon-upload3 {
  &:before {
    content: @icon-upload3; 
  }
}
.icon-exit {
  &:before {
    content: @icon-exit; 
  }
}
.icon-folder {
  &:before {
    content: @icon-folder; 
  }
}
.icon-folder-open {
  &:before {
    content: @icon-folder-open; 
  }
}
.icon-files-empty {
  &:before {
    content: @icon-files-empty; 
  }
}
.icon-copy {
  &:before {
    content: @icon-copy; 
  }
}
.icon-filter {
  &:before {
    content: @icon-filter; 
  }
}
.icon-caret-up {
  &:before {
    content: @icon-caret-up; 
  }
}
.icon-caret-down {
  &:before {
    content: @icon-caret-down; 
  }
}
.icon-check {
  &:before {
    content: @icon-check; 
  }
}
.icon-power-off {
  &:before {
    content: @icon-power-off; 
  }
}
.icon-refresh {
  &:before {
    content: @icon-refresh; 
  }
}
.icon-edit {
  &:before {
    content: @icon-edit; 
  }
}
.icon-pencil-square-o {
  &:before {
    content: @icon-pencil-square-o; 
  }
}
.icon-help {
  &:before {
    content: @icon-help; 
  }
}
.icon-eye {
  &:before {
    content: @icon-eye; 
  }
}
.icon-exclamation-triangle {
  &:before {
    content: @icon-exclamation-triangle; 
  }
}
.icon-warning11 {
  &:before {
    content: @icon-warning11; 
  }
}
.icon-group {
  &:before {
    content: @icon-group; 
  }
}
.icon-users {
  &:before {
    content: @icon-users; 
  }
}
.icon-bars {
  &:before {
    content: @icon-bars; 
  }
}
.icon-navicon {
  &:before {
    content: @icon-navicon; 
  }
}
.icon-reorder {
  &:before {
    content: @icon-reorder; 
  }
}
.icon-envelope {
  &:before {
    content: @icon-envelope; 
  }
}
.icon-dashboard1 {
  &:before {
    content: @icon-dashboard1; 
  }
}
.icon-tachometer {
  &:before {
    content: @icon-tachometer; 
  }
}
.icon-stethoscope {
  &:before {
    content: @icon-stethoscope; 
  }
}
.icon-broken {
  &:before {
    content: @icon-broken; 
  }
}
.icon-ellipsis-v {
  &:before {
    content: @icon-ellipsis-v; 
  }
}
.icon-create {
  &:before {
    content: @icon-create; 
  }
}
.icon-building {
  &:before {
    content: @icon-building; 
  }
}
.icon-toggle-off {
  &:before {
    content: @icon-toggle-off; 
  }
}
.icon-toggle-on {
  &:before {
    content: @icon-toggle-on; 
  }
}
.icon-external-link {
  &:before {
    content: @icon-external-link; 
  }
}

