@default-color: @east-bay;

@sidebar: #333333; // Sidebar, Tools,
@orange: #ffbe00;
@shadow: #6e6e6e;

@white: #ffffff; // Header, Sidebar, ...
@hit-pink: #ffb88c;
@ecru-white: #f7f7f780;
@gallery: #f0f0f0; // Body
@deep-blush: #e56590;
@alto: #d8d8d8; // Borders
@bombay: #b6b6b7; // Shadow
@gray: #888888; // Text
@boulder: #777777; // Strong Text
@puerto-rico: #4ccbab; // Gradient soft
@pistachio: #94d900; // VIP Plan color
@tundora: #4a4a4a;
@indigo: #3e75c8; // Default
@mirage: #191f28;
@mountain-meadow: #16a085;
@neavy-blue: #000080; // Gradient dark
@east-bay: #ffca05;
@red-berry: #8b0000;
@red: #ff0000;
@midnight-blue: #003366;
@black: #000000;
@bright-green: #7ac83f;
@bright-black: #474747;
@box-shadow-black: #0000002d;
@color-primary: #ffca05;
@color-secondary: transparent;
@color-success: #4caf50;
@color-info: #5bc0de;
@color-warn: #bcbcbc;
@color-error: #e12d6e;
@color-disable: #bdc3c7;
// ticket number
@color-ticket-green: #59af5d;
@bgcolor-ticket-green: #e7ffed;

@color-ticket-red: #cf356b;
@bgcolor-ticket-red: #ffebf2;

@color-ticket-yellow: #f1d322;
@bgcolor-ticket-yellow: #ffffc0;

@color-ticket-purple: #644e92;
@bgcolor-ticket-purple: #dbc9f3;

@color-ticket-blue: #517a97;
@bgcolor-ticket-blue: #ebffff;
// ticket number

@bg-mtn: #ffca05;
@bg-mtn2: #ffb600;

.bg-color-success {
  background-color: @color-success;
}

.bg-color-info {
  background-color: @color-info;
}

.bg-color-error {
  background-color: @color-error;
}

.bg-color-east-bay {
  background-color: @east-bay;
}

.color-black {
  color: @black !important;
}

.color-gray {
  color: @gray !important;
}

.color-boulder {
  color: @boulder !important;
}

.color-blue {
  color: @color-info !important;
}

.color-error {
  color: @color-error !important;
}

.color-success {
  color: @color-success !important;
}

.bg-color-greenLight {
  background-color: @bright-green;
}

.bg-color-primary {
  background-color: @color-primary !important;
}

.color-primary {
  color: @color-primary !important;
}

// ticket number color
.color-ticket-green {
  color: @color-ticket-green !important;
}
.bgcolor-ticket-green {
  background-color: @bgcolor-ticket-green !important;
}

.color-ticket-red {
  color: @color-ticket-red !important;
}
.bgcolor-ticket-red {
  background-color: @bgcolor-ticket-red !important;
}

.color-ticket-yellow {
  color: @color-ticket-yellow !important;
}
.bgcolor-ticket-yellow {
  background-color: @bgcolor-ticket-yellow !important;
}

.color-ticket-purple {
  color: @color-ticket-purple !important;
}
.bgcolor-ticket-purple {
  background-color: @bgcolor-ticket-purple !important;
}

.color-ticket-blue {
  color: @color-ticket-blue !important;
}
.bgcolor-ticket-blue {
  background-color: @bgcolor-ticket-blue !important;
}

// ticket number color