@font-face {
  font-family: "tanha-fd-wol";
  src: url("./fonts/Tanha-FD-WOL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nunito-sans-light";
  src: url("./fonts/NunitoSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MTNIrancell-Bold";
  src: url("./fonts/MTNIrancell-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Adgs Icons";
  src: url("./fonts/adgs-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MTNIrancell-Regular";
  src: url("./fonts/MTNIrancell-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: MTNIrancell-Regular, MTNIrancell-Bold;
}
