body.rtl {
  &,
  .row {
    direction: rtl;
  }

  font-family: MTNIrancell-Regular, MTNIrancell-Bold;

  .col,
  [class*="col-"] {
    text-align: right;

    &.btn {
      text-align: center;
    }
  }

  .close-position .nsm-dialog-btn-close {
    position: absolute;
    right: auto;
    left: 1rem;
  }

  select.form-control:not([dir="ltr"]) {
    background-position: left center;
  }
  select.form-control-header:not([dir="ltr"]) {
    background-position: left center;
  }
  .dropdown {
    &-list {
      left: 0;
      right: auto;
    }
  }

  .notification {
    &-arrow {
      right: 10px;
      top: 3.2rem;
    }

    &-container {
      right: 0;
    }

    &-count {
      right: 0;
    }
  }

  #sidebar-container,
  #themes-list-container aside {
    .brand .name {
      text-align: right;
    }

    nav ul li {
      text-align: right;

      .icon {
        padding-right: initial;
        padding-left: 1rem;
      }

      [class*="-title"] {
        &::before {
          left: initial;
          right: 0;
        }
      }

      .cat-title {
        padding-left: 4rem;
        padding-right: 2rem;

        &::after {
          left: 1.5rem;
          right: inherit;
          transform: rotate(90deg);
        }
      }

      .nav-sub .nav-title {
        padding-left: 2rem;
        padding-right: 3.5rem;
      }
    }
  }

  th,
  td {
    text-align: right;
  }

  .fix-series {
    padding-left: @gutter;
    padding-right: 0;
  }

  .modal .close {
    right: initial;
    left: 0.5rem;
  }

  tag-input,
  select-input {
    text-align: right;
  }

  .simple-notification {
    .sn-title,
    .sn-content {
      padding: 0 0 0 50px;
      text-align: right;
    }

    .icon {
      right: initial;
      left: 0;
    }
  }

  .ng-progress {
    direction: ltr;
  }

  [dir="ltr"] {
    direction: ltr !important;
    font-family: MTNIrancell-Regular;
  }
  .input-group-border {
    right: 38px;
    left: auto;
  }
  .left-inner-addon {
    position: relative;
    max-width: 26rem;
    margin-bottom: 1rem;
  }
  .left-inner-addon input {
    padding-left: 1rem;
    width: 28rem;
    max-width: 25rem;
  }
  .left-inner-addon img {
    position: absolute;
    left: 0rem;
    pointer-events: none;
    top: 1rem;
    right: auto;
  }
  .left-inner-addon::before {
    content: "";
    position: absolute;
    border-right: 1px solid #3c3c3c4f;
    border-left: none;
    width: 16px;
    height: 16px;
    left: 1rem;
    right: inherit;
    top: 1rem;
  }
  .icon-sm {
    font-size: 1.2rem;
    border-left: 0.1px solid rgb(80, 80, 80);
    border-right: none;
    padding: 0.5rem 1rem;
  }
  select-input-header {
    .check-list-select-field .icon-default {
      top: 11px;
      left: 15px;
      right: auto;
    }
    .pupop-content {
      left: 0;
      right: auto;
    }
    .select-list {
      .select-option {
        .item-label {
          input[type="checkbox"] {
            position: absolute;
            right: 5px;
            left: auto;
          }
        }
      }
    }
  }
  .border-header {
    th {
      border-left: 1px solid rgb(199, 199, 199);
      &:last-child {
        border: none;
      }
      &:first-child {
        border: none;
      }
    }
  }
  .select-input-header {
    &::after {
      // left: 1px;
      right: auto;
    }
  }
  .select-input-header-up {
    &::after {
      // left: 1px;
      right: auto;
    }
  }
}
