@font-face {
  font-family: 'parsian';
  src:  url('parsian.eot?65elgk');
  src:  url('parsian.eot?65elgk#iefix') format('embedded-opentype'),
    url('parsian.ttf?65elgk') format('truetype'),
    url('parsian.woff?65elgk') format('woff'),
    url('parsian.svg?65elgk#parsian') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon[class*="parsian-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'parsian' !important;
}
.icon {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.parsian-building:before {
  content: "\e900";
}
.parsian-factory:before {
  content: "\e901";
}
.parsian-office:before {
  content: "\e902";
}
.parsian-gas-station:before {
  content: "\e94c";
}
.parsian-drugstore:before {
  content: "\e924";
}
.parsian-clinic:before {
  content: "\e925";
}
.parsian-medical:before {
  content: "\e926";
}
.parsian-hospital:before {
  content: "\e927";
}
.parsian-agency:before {
  content: "\e936";
}
.parsian-dey:before {
  content: "\e928";
}
.parsian-sarmayeh:before {
  content: "\e929";
}
.parsian-sepah:before {
  content: "\e92a";
}
.parsian-saderat:before {
  content: "\e92b";
}
.parsian-refah:before {
  content: "\e92c";
}
.parsian-postbank:before {
  content: "\e92d";
}
.parsian-parsian:before {
  content: "\e92e";
}
.parsian-ayandeh:before {
  content: "\e92f";
}
.parsian-tosee-taavon:before {
  content: "\e930";
}
.parsian-hekmat:before {
  content: "\e931";
}
.parsian-mehr:before {
  content: "\e932";
}
.parsian-markazi:before {
  content: "\e933";
}
.parsian-ghavamin:before {
  content: "\e934";
}
.parsian-sina:before {
  content: "\e935";
}
.parsian-ansarbank:before {
  content: "\e937";
}
.parsian-maskan:before {
  content: "\e938";
}
.parsian-mellat:before {
  content: "\e939";
}
.parsian-eghtesadnovin:before {
  content: "\e93a";
}
.parsian-shahr:before {
  content: "\e93b";
}
.parsian-gardeshgari:before {
  content: "\e93c";
}
.parsian-melli:before {
  content: "\e93d";
}
.parsian-keshavarzi:before {
  content: "\e93e";
}
.parsian-tejarat:before {
  content: "\e93f";
}
.parsian-khavarmiyaneh:before {
  content: "\e940";
}
.parsian-mehr-eghtesad:before {
  content: "\e941";
}
.parsian-tosee-saderat:before {
  content: "\e942";
}
.parsian-sanaat-o-madan:before {
  content: "\e943";
}
.parsian-saman:before {
  content: "\e944";
}
.parsian-resalat:before {
  content: "\e945";
}
.parsian-noor:before {
  content: "\e946";
}
.parsian-kowsar:before {
  content: "\e947";
}
.parsian-iranzamin:before {
  content: "\e948";
}
.parsian-pasargad:before {
  content: "\e949";
}
.parsian-karafarin:before {
  content: "\e94b";
}
.parsian-karafriny-omid:before {
  content: "\e94a";
}
