<ng-container *ngFor="let item of items; let index = index">
  <input-item *ngIf="!baseInfo"
    (itemRemoved)="removeItem($event)"
    [disabled]="disabled"
    [index]="index"
    label="{{ !translate ? item.name : (item.name | translate) }}"
  ></input-item>
  <input-item *ngIf="baseInfo"
    (itemRemoved)="removeItem($event)"
    [disabled]="disabled"
    [index]="index"
    label="{{
      (((item.name).toLowerCase().trim().replace(pattern, '-') | translate) == (item.name).toLowerCase().trim().replace(pattern, '-')) || ((item.name).toLowerCase().trim().replace(pattern, '-') | translate) == '[object Object]' ? item.name : ((item.name).toLowerCase().trim().replace(pattern, '-') | translate)
    }}"
  ></input-item>
</ng-container>

<input
  #selectInputRef
  (blur)="blured($event)"
  (focus)="focused($event)"
  (input)="inputChanged($event)"
  (keydown)="keyDown($event)"
  (keypress)="keyPress($event)"
  (keyup)="keyUp($event)"
  [(ngModel)]="inputValue"
  [disabled]="disabled || inputDisabled"
  [id]="inputid"
  [placeholder]="items.length ? '' : (placeholder | translate)"
  autocomplete="off"
  class="input-field"
  type="text"
/>

<ul
  *ngIf="
    showList &&
    inputFocused &&
    !inputDisabled &&
    (!forceSearch || forceSearch <= inputValue.length)
  "
  class="select-list"
>
  <ng-container *ngFor="let item of filteredList; let index = index">
    <li *ngIf="!baseInfo"
      (click)="addItem(item)"
      [ngClass]="{
        'item-navigator': index == selectedItemIndex,
        selected: isExist(item)
      }"
      class="select-option"
      innerHTML="{{
        !translate ? item.name : (item.name | translate)
      }}"
    ></li>
    <li *ngIf="baseInfo"
      (click)="addItem(item)"
      [ngClass]="{
        'item-navigator': index == selectedItemIndex,
        selected: isExist(item)
      }"
      class="select-option"
      innerHTML="{{
        (((item.name).toLowerCase().trim().replace(pattern, '-') | translate) == (item.name).toLowerCase().trim().replace(pattern, '-')) || ((item.name).toLowerCase().trim().replace(pattern, '-') | translate) == '[object Object]' ? item.name : ((item.name).toLowerCase().trim().replace(pattern, '-') | translate)
      }}"
    ></li>
  </ng-container>
  <li *ngIf="!filteredList.length" class="select-option text-center">
    {{ "list-empty" | translate }}
  </li>
</ul>
