<section class="container animated fadeIn">
  <div *ngIf="title" id="breadcrumb">
    <div class="title">
      <b>{{ subTitle | translate }} : {{ title }} </b>
    </div>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-lg-6 py">
      <div class="wall">
        <div class="title">{{ "auth.reset-pass" | translate }}</div>
        <form (ngSubmit)="submit(form)" [formGroup]="form" novalidate>
          <div
            *ngIf="!userID"
            [ngClass]="{
              'has-error':
                (form.controls['old_password'].invalid && formSubmitted) ||
                oldPassError
            }"
            class="row form-group"
          >
            <label class="col-lg-3 form-label-inline" for="old_password"
            >{{ "auth.old-password" | translate }}:</label
            >
            <div class="col-lg-9">
              <div class="input-group">
                <input
                  class="form-control"
                  formControlName="old_password"
                  id="old_password"
                  name="old_password"
                  placeholder=""
                  type="password"
                />
              </div>
              <div
                *ngIf="
                  form.controls['old_password'].hasError('required') &&
                  formSubmitted
                "
                class="feedback"
              >
                {{ "forms.feedback.required" | translate }}
              </div>
              <div *ngIf="oldPassError && formSubmitted" class="feedback">
                {{ oldPassError | translate }}
              </div>
            </div>
          </div>

          <div
            [ngClass]="{
              'has-error':
                (form.controls['password'].invalid && formSubmitted) ||
                errorMessage
            }"
            class="row form-group"
          >
            <label class="col-lg-3 form-label-inline" for="password"
            >{{ "auth.new-pass" | translate }}:</label
            >
            <div class="col-lg-9">
              <div class="input-group">
                <input
                  [type]="passInputType"
                  class="form-control"
                  formControlName="password"
                  id="password"
                  name="password"
                  placeholder=""
                />
                <div [ngSwitch]="passInputType" class="input-group-addon">
                  <div
                    (click)="togglePasswordVisibility()"
                    *ngSwitchCase="'password'"
                    class="icon icon-eye"
                    title="{{ 'auth.show-pass' | translate }}"
                  ></div>
                  <div
                    (click)="togglePasswordVisibility()"
                    *ngSwitchCase="'text'"
                    class="icon icon-eye-slash"
                    title="{{ 'auth.hide-pass' | translate }}"
                  ></div>
                </div>
              </div>
              <div
                *ngIf="
                  form.controls['password'].hasError('required') &&
                  formSubmitted
                "
                class="feedback"
              >
                {{ "forms.feedback.required" | translate }}
              </div>
              <div
                *ngIf="
                  form.controls['password'].hasError('minlength') &&
                  formSubmitted
                "
                class="feedback"
              >
                {{ "forms.feedback.least" | translate: {least: 9} }}
              </div>

              <div *ngIf="errorMessage && formSubmitted" class="feedback">
                {{ errorMessage | translate }}
              </div>
            </div>
          </div>

          <div
            [ngClass]="{
              'has-error':
                form.controls['confirm_password'].invalid && formSubmitted
            }"
            class="row form-group"
          >
            <label class="col-lg-3 form-label-inline" for="confirm_password"
            >{{ "auth.confirm-pass" | translate }}:</label
            >
            <div class="col-lg-9">
              <input
                [type]="passInputType"
                class="form-control"
                formControlName="confirm_password"
                id="confirm_password"
                name="confirm_password"
                placeholder=""
              />
              <div
                *ngIf="
                  form.controls['confirm_password'].hasError('notmatch') &&
                  formSubmitted
                "
                class="feedback"
              >
                {{ "forms.feedback.notmatch" | translate }}
              </div>
            </div>
          </div>

          <button
            [disabled]="form.invalid && formSubmitted"
            class="btn btn-success"
            type="submit"
          >
            {{ "forms.submit" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
