<section class="container animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <breadcrumb title="{{ 'auth.user-profile' | translate }}"></breadcrumb>
      <form
        (ngSubmit)="submit(form)"
        [formGroup]="form"
        class="row wall"
        novalidate
      >
        <!-- username -->
        <div class="col-12">
          <div
            [ngClass]="{
              'has-error': form.controls['username'].invalid && formSubmitted
            }"
            class="form-group"
          >
            <label class="form-label" for="username"
              >{{ "auth.username" | translate }}:</label
            >
            <input
              disabled
              class="form-control"
              formControlName="username"
              id="username"
              name="username"
              placeholder=""
              type="text"
            />
          </div>
        </div>
        <!-- Name -->
        <div class="col-12">
          <div
            [ngClass]="{
              'has-error': form.controls['name'].invalid && formSubmitted
            }"
            class="form-group"
          >
            <label class="form-label" for="fullname"
              >{{ "auth.fullname" | translate }}:</label
            >
            <input
              class="form-control"
              formControlName="name"
              id="fullname"
              name="fullname"
              placeholder=""
              type="text"
            />
            <div
              *ngIf="
                form.controls['name'].hasError('required') && formSubmitted
              "
              class="feedback"
            >
              {{ "forms.feedback.required" | translate }}
            </div>
          </div>
        </div>
        <!-- Email -->
        <div class="col-12">
          <div
            [ngClass]="{
              'has-error': form.controls['email'].invalid && formSubmitted
            }"
            class="form-group"
          >
            <label class="form-label" for="email"
              >{{ "auth.email" | translate }}:</label
            >
            <input
              class="form-control"
              formControlName="email"
              id="email"
              name="email"
              placeholder=""
              type="email"
            />
            <div
              *ngIf="
                form.controls['email'].hasError('required') && formSubmitted
              "
              class="feedback"
            >
              {{ "forms.feedback.required" | translate }}
            </div>
          </div>
        </div>
        <!-- Call -->
        <div class="col-12">
          <div
            [ngClass]="{
              'has-error': form.controls['cellphone'].invalid && formSubmitted
            }"
            class="form-group"
          >
            <label class="form-label" for="cellphone"
              >{{ "auth.call" | translate }}:</label
            >
            <input
              class="form-control"
              formControlName="cellphone"
              id="cellphone"
              name="cellphone"
              type="text"
            />
            <div
              *ngIf="
                form.controls['cellphone'].hasError('required') && formSubmitted
              "
              class="feedback"
            >
              {{ "forms.feedback.required" | translate }}
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="col-12">
          <button
            [disabled]="form.invalid && formSubmitted"
            class="btn"
            type="submit"
          >
            {{ "forms.save" | translate }}
          </button>
          <button [routerLink]="['/main']" class="btn btn-danger" type="button">
            {{ "forms.cancel" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
