<div class="row wall mb">
  <div class="col">
    <div class="table-wrapper">
      <table class="table" id="reportTable">
        <thead>
          <th class="text-center"></th>
          <th class="text-center"></th>
          <th class="text-center"></th>
          <th class="text-center"></th>
          <th class="text-center">
            <select-input
              (changed)="getAction($event)"
              [apiSearch]="true"
              translate="true"
              [list]="actionList"
              [multi]="false"
              class="search-input small"
              id="action"
              inputid="action"
              itemkey="name"
              itemvalue="id"
              placeholder="comment.action"
              style="padding: 0"
            ></select-input>
          </th>
        </thead>
        <thead>
          <tr>
            <th>#</th>
            <th>{{ "entity.user" | translate }}</th>
            <th class="great">{{ "comment.body" | translate }}</th>
            <th>
              {{ "report.created" | translate }}
            </th>
            <th>
              {{ "comment.action" | translate }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let comment of comments; let i = index">
            <td>
              {{ (filters.page - 1) * perPage + i + 1 }}
            </td>
            <td>{{ comment?.user?.username || "-" }}</td>
            <td class="great">{{ comment.body }}</td>
            <td>
              {{
                translate.currentLang == "fa"
                  ? (comment?.created | jalali)
                  : (comment?.created | date: "yy/M/dd HH:mm a")
              }}
            </td>
            <td>
              {{ !comment?.action ? "-" : (comment?.action | translate) }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr [hidden]="comments.length">
            <td class="text-center" colspan="5">
              <b>{{ "list-empty" | translate }}</b>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<div class="row pb">
  <div class="col">
    <pagination
      (callback)="getComments($event)"
      [currentPage]="filters.page"
      [totalPages]="totalPages"
      [totalCount]="totalCount"
    >
    </pagination>
  </div>
</div>
