@charset "UTF-8";

// main: styles.less, out: null
@import "~ngx-smart-modal/ngx-smart-modal.css";
@path: "./styles/";
@import "@{path}variables.less";
@import "@{path}colors.less";
@import "@{path}mixins.less";

@import "../node_modules/bootstrap-grid-less/reboot.css";
@import "../node_modules/bootstrap-grid-less/grid.less";


@import "~@circlon/angular-tree-component/css/angular-tree-component.css";

@import "@{path}fonts.less";
@import "@{path}icons.less";
@import "@{path}rules.less";

@import "@{path}components/spinner.less";

@import "@{path}components/sidebar.less";
@import "@{path}components/dashboard.less";
@import "@{path}components/header.less";
@import "@{path}components/admin-nav.less";
// car style import
@import "@{path}components/car.less";

@import "@{path}components/pie-chart.less";
@import "@{path}components/gauge-chart.less";
@import "@{path}components/switch-language-toggle.less";
@import "@{path}components/dynamicReport.less";
@import "@{path}components/drag-drop.less";
@import "@{path}components/monitoringConfig.less";
@import "@{path}components/input-item.less";
@import "@{path}components/jstree.less";
@import "@{path}components/notification.less";
@import "@{path}components/stepper.less";
@import "@{path}components/accordion.less";
@import "@{path}components/tooltip.less";
@import "@{path}components/acs-button.less";
@import "@{path}components/auth.less";
@import "@{path}components/play-pause-checkbox.less";
@import "@{path}components/checkbox.less";
@import "@{path}components/date-picker.less";

@import "@{path}general.less";
@import "@{path}rtl.less";
@import "@{path}print.less";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  outline: none;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  // print-color-adjust: exact;
}
